.scrool-down
{
	position: absolute;
	bottom: 20px;

	appearance: none;
	text-decoration: none;

	font-size: 16px;
	color: #F9572E;

	display: flex;
	flex-wrap: wrap;
	column-gap: 10px;
	align-items: center;
}

.scrool-down__piece
{
	display: block;
}
