.info
{
	position: relative;
	flex: 0 0 40%;
	padding: 0 0 0 90px;
	box-sizing: border-box;
}

.info__wrapper
{
	width: 100%;
	margin-top: 26px;
	margin-left: 4px;
}

.info__company
{
	padding: 204px 0 42px 0;
}

.info__title
{
	margin: 0;
	margin-bottom: 27px;
	padding: 0;

	font-family: 'MullerMedium', Arial, sans-serif;
	font-weight: 400;
	font-size: 64px;
	line-height: 1em;
}

.info__offer
{
	margin: 0;
	padding: 0;

	font-family: 'MullerRegular', Arial, sans-serif;
	font-size: 21px;
	line-height: 1.43em;
}

.info__line
{
	display: block;
}

.info__addition
{

	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	column-gap: 32px;
}

.info__text
{
	color: #666666;
}

.info__button
{
	padding: 17px 12px;
	width: 230px;
	font-size: 14px;
	line-height: 18px;
	font-weight: 200;
	box-sizing: border-box;
	appearance: none;
	border: none;
}
