.nav
{
	position: absolute;
	top: 60px;
	right: 110px;
	z-index: 2;

 font-size: 21px;
}

.nav button {
	font-family: 'MullerMedium', Arial, sans-serif;
	font-size: 21px;
	text-decoration: none;
	color: black;
	position: relative;
	border: none;
	outline: none;
	appearance: none;
	background-color: transparent;

	&:hover
	{
		color: #F9572E;
		background-color: transparent;
	}
}

.nav__contacts::before
{
	content: "";
	background-image: url("../img/phone.svg");
	position: absolute;
	display: block;
	width: 26px;
	height: 26px;
	top: 0;
	left: 0;
	transform: translate(-120%, -10%);
}
