.social
{
	margin: 0 auto;
	max-width: 1800px;
}

.social__list
{
	margin: 0 auto;
	margin-bottom: 16px;
	padding: 0;

	list-style: none;
	display: inline-block;
}

.social__item
{
	padding: 25px;
	margin: 15px;

	box-sizing: border-box;
	display: inline-block;

	cursor: pointer;
	position: relative;

	background-color: #F9572E;

	&:hover
	{
		background-color: #FF7B59;
		box-shadow: 0px 15px 20px 0px rgba(249, 87, 46, 0.7);
	}
}

.social__item:before
{
	display: block;
	width: 12px;
	height: 22px;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	content: "";
	background-image: url("../img/fb.svg");
	background-repeat: no-repeat;
}

.social__item--vk::before
{
	width: 24px;

	background-image: url("../img/vk.svg");
	background-repeat: no-repeat;
}

.social__item--instagram::before
{
	width: 24px;

	background-image: url("../img/inst.svg");
	background-repeat: no-repeat;
}

.social__title
{
	margin: 0;
	margin-bottom: 10px;

	font-size: 21px;
}

.social__text
{
	margin-bottom: 20px;

	font-size: 16px;
	color: #666666;
}

.social__piece
{
	display: block;
}
