.video
{
	position: relative;
	height: 100%;

	padding: 0;
	margin: 0;

	flex: 0 1 940px;

	text-align: center;
}

.video__poster
{
	display: block;
	width: 100%;

	padding: 0;
	margin: 0;

	object-fit: cover;
}

.video__button
{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	margin: auto;
	padding: 0;
	box-sizing: border-box;

	width: 260px;
	height: 260px;

	border: none;
	appearance: none;
	background-color: transparent;

	cursor: pointer;
	transform: translate(5%, -20%);
}

.video__button:hover .video__triangle
{
	transform: scale(1.18);
}

.video__text
{
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translateX(-50%);

	font-family: 'MullerRegular', Arial, sans-serif;
	font-size: 21px;
	color: #F9572E;
}

.video__button
{
	width: 254px;
	height: 254px;

	background-image: url("../img/circle.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 48%, 55%;
}
