@font-face {
  font-family: "MullerMedium";
  src: url("../fonts/MullerMedium.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "MullerRegular";
  src: url("../fonts/MullerRegular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
.body {
  font-family: "MullerMedium", Arial, sans-serif;
  padding: 0;
  margin: 0;
}

.button {
  padding: 17px 30px;
  display: block;
  width: 250px;
  font-family: "MullerMedium", Arial, sans-serif;
  font-size: 16px;
  color: #FFFFFF;
  -webkit-appearance: none;
          appearance: none;
  text-decoration: none;
  text-align: center;
  background-color: #F9572E;
  border-radius: 30px;
  box-shadow: 0px 7px 15px rgba(249, 87, 46, 0.6);
}

.content {
  font-size: 16px;
  font-family: "MullerMedium", Arial, sans-serif;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  width: 1880px;
  position: relative;
}

.info {
  position: relative;
  flex: 0 0 40%;
  padding: 0 0 0 90px;
  box-sizing: border-box;
}

.info__wrapper {
  width: 100%;
  margin-top: 26px;
  margin-left: 4px;
}

.info__company {
  padding: 204px 0 42px 0;
}

.info__title {
  margin: 0;
  margin-bottom: 27px;
  padding: 0;
  font-family: "MullerMedium", Arial, sans-serif;
  font-weight: 400;
  font-size: 64px;
  line-height: 1em;
}

.info__offer {
  margin: 0;
  padding: 0;
  font-family: "MullerRegular", Arial, sans-serif;
  font-size: 21px;
  line-height: 1.43em;
}

.info__line {
  display: block;
}

.info__addition {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 32px;
}

.info__text {
  color: #666666;
}

.info__button {
  padding: 17px 22px;
  width: 220px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 200;
}

.main-page {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 166px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.video {
  padding: 0;
  margin: 0;
  flex: 0 1 940px;
  position: relative;
  height: 100%;
}

.video__poster {
  padding: 0;
  margin: 0;
  width: 100%;
  object-fit: cover;
}

.video__button {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -88%);
}

.video__text {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  font-family: "MullerRegular", Arial, sans-serif;
  font-size: 21px;
  color: #F9572E;
}

.video::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -72%);
  width: 250px;
  height: 250px;
  border: 4px solid #FA9685;
  border-radius: 50%;
}

.scrool-down {
  position: absolute;
  bottom: 20px;
  -webkit-appearance: none;
          appearance: none;
  text-decoration: none;
  font-size: 16px;
  color: #F9572E;
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  align-items: center;
}

.scrool-down__piece {
  display: block;
}

.array {
  display: block;
  cursor: pointer;
}

.array__top {
  transform: scale(60%);
}

.array__left {
  rotate: 90deg;
}

.array__right {
  rotate: -90deg;
}

.nav {
  position: absolute;
  top: 60px;
  right: 110px;
  z-index: 2;
  font-size: 21px;
}

.nav a {
  -webkit-appearance: none;
          appearance: none;
  text-decoration: none;
  color: black;
}

.advantages {
  margin: 0 auto;
  margin-bottom: 186px;
  padding: 0 50px;
}

.advantages__title {
  margin: 0;
  padding: 0;
  margin-left: 400px;
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: 400;
}

.advantages__comment {
  margin: 0;
  margin-left: 400px;
  padding: 0;
  margin-bottom: 68px;
  font-size: 16px;
  letter-spacing: 0.6px;
  color: #33B5A3;
  text-transform: uppercase;
}

.advantages__list {
  -webkit-appearance: none;
          appearance: none;
  text-decoration: none;
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0 360px 0 400px;
  box-sizing: border-box;
  display: grid;
  justify-content: space-between;
  grid-template-columns: 450px 450px;
  grid-template-rows: 220px 190px;
}

.advantages__piece {
  display: block;
}

.advantages__item {
  border-top: 4px solid #63D2C1;
  box-sizing: border-box;
  padding: 36px 0;
}

.advantages__item .advantages__title {
  font-size: 24px;
  margin-left: 0;
  margin-bottom: 20px;
}

.advantages__item .advantages__text {
  font-size: 16px;
  color: #666666;
  margin-left: 0;
  line-height: 24px;
}

.advantages__special {
  border: 4px solid #63D2C1;
  text-align: center;
  padding: 40px 40px 0 40px;
  display: block;
}

.advantages__special .advantages__title {
  font-size: 24px;
  margin-left: 0;
}

.advantages__special .advantages__text {
  font-size: 64px;
  margin: 0;
}

.styling {
  margin: 0 auto;
  margin-bottom: 126px;
  padding: 0;
  font-family: "MullerMedium", Arial, sans-serif;
  position: relative;
}

.styling__title {
  margin: 0;
  padding: 0 450px;
  margin-bottom: 8px;
  font-size: 40px;
  font-weight: 400;
}

.styling__comment {
  margin: 0;
  padding: 0 450px;
  margin-bottom: 62px;
  font-size: 16px;
  color: #33B5A3;
  text-transform: uppercase;
}

.styling__nav {
  position: absolute;
  bottom: 0;
  right: 460px;
}

.styling__button--prev,
.styling__button--next {
  -webkit-appearance: none;
          appearance: none;
  border: none;
  background-color: transparent;
}

.styling__button:focus {
  outline: none;
}

.styling__button--prev:hover,
.styling__button--next:hover {
  transform: scaleY(70%);
  cursor: pointer;
}

.form {
  font-family: "MullerRegular", Arial, sans-serif;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 120px;
  width: 45%;
  box-sizing: border-box;
}

.form__title {
  font-family: "MullerMedium", Arial, sans-serif;
  font-size: 40px;
  padding: 16px;
  margin: 0 auto;
  margin-bottom: 42px;
  width: 700px;
}

.form__text {
  font-size: 16px;
  line-height: 1.5;
  font-family: "MullerRegular", Arial, sans-serif;
  text-transform: uppercase;
  text-align: start;
  margin: 0;
  margin-left: 260px;
  margin-bottom: 66px;
}

.form__piece {
  display: block;
}

.form__fieldset {
  margin: 0 auto;
  padding: 0 126px 60px 112px;
  transform: translateX(-5%);
  text-align: center;
  border: 4px solid #63D2C1;
}

.form__data {
  display: block;
  padding: 0;
}

.form__input {
  width: 500px;
  padding: 16px 24px;
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 16px;
  font-family: "MullerRegular", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.3em;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
}

.form__footer {
  display: block;
  padding: 0;
  text-align: center;
  margin-top: 18px;
}

.form__footer p,
.form__footer a {
  display: block;
  line-height: 1.5em;
}

.form__button {
  margin: 0 auto;
  border: none;
  margin-bottom: 22px;
}

.form__info {
  text-decoration: none;
  -webkit-appearance: none;
          appearance: none;
  color: #F9572E;
}

.page-footer {
  background-color: #F2F2F2;
  margin: 0 auto;
  padding: 58px 500px 40px 540px;
  text-align: center;
  font-family: "MullerRegular", Arial, sans-serif;
}

.social {
  margin: 0 auto;
  max-width: 1800px;
}

.social__list {
  list-style: none;
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 16px;
  padding: 0;
}

.social__item {
  padding: 25px;
  margin: 15px;
  box-sizing: border-box;
  display: inline-block;
  background-color: #F9572E;
}

.social__title {
  font-size: 21px;
  margin: 0;
  margin-bottom: 10px;
}

.social__text {
  font-size: 16px;
  color: #666666;
  margin-bottom: 20px;
}

.social__piece {
  display: block;
}

.contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 36px;
  margin-bottom: 44px;
  font-size: 21px;
}

.contacts__item {
  padding: 48px;
}

.contact__phone,
.contact__email {
  text-decoration: none;
  color: #000000;
}

.contact__email {
  border-bottom: 2px solid #F9572E;
}

.contacts__city {
  display: block;
  font-size: 16px;
  color: #666666;
}

.carousel {
  overflow: hidden;
}

.carousel__items {
  overflow: hidden;
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  grid-template-columns: 292px 914px 450px;
  grid-template-rows: 1fr;
  height: 500px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  font-size: 0;
  column-gap: 155px;
}

.carousel__item {
  opacity: 0.6;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.carousel__item--show {
  grid-column: 2/3;
  grid-row: 1/-1;
  opacity: 1;
  box-sizing: border-box;
  position: relative;
  transition: 0.5s;
}

.carousel__item--show img {
  max-width: 750px;
  display: inline;
}

.carousel__item--show small {
  font-size: 13px;
  color: #666666;
  display: inline-block;
  width: 144px;
  text-align: start;
  align-self: flex-start;
  position: absolute;
  top: 10px;
  right: 0;
  vertical-align: top;
  box-sizing: border-box;
}
/*# sourceMappingURL=style.css.map */